<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/header'); -%>

<body>

  <!-- ======= Header and Navbar ======= -->
  <%- include('layouts/navbar'); -%>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>SimpleLMS,<br>가벼운 LMS</h1>
      <h2>가볍게 사용할 수 있는 동영상 수강 시스템</h2>
      <% if(loggedIn) {%>
      <a href="/courses" class="btn-get-started">Go to Learn</a>
      <% }%>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>SimpleLMS는, LMS 시스템의 꼭 필요한 부분만 있는 가벼운 웹 사이트입니다.</h3>
            <br>
            <ul>
              <li><i class="bi bi-check-circle"></i> 누구나 무료로 사용할 수 있습니다.</li>
              <li><i class="bi bi-check-circle"></i> 핵심 기능만을 탑재하여 가볍습니다. </li>
              <li><i class="bi bi-check-circle"></i> 언제 어디서나 간단히 자신만의 LMS 시스템을 구축할 수 있습니다.</li>
            </ul>
            <p>
              지금 바로 SimpleLMS를 사용해 보세요!
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('layouts/footer'); -%>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <%- include('layouts/scripts'); -%>

</body>

</html>